body{
    margin: 0;
	width: 100%;
	height: 100vh;
	font-family: "Exo", sans-serif;
	color: #fff;
    background: linear-gradient(-45deg, #057a15, #1058c5, #23d549, #006400 );
	background-size: 400% 400%;
	-webkit-animation: gradientBG 30s ease infinite;
	animation: gradientBG 30s ease infinite;
}

@-webkit-keyframes gradientBG {
	0% {
		background-position: 20% 50%;
	}
	50% {
		background-position: 50% 50%;
	}
	100% {
		background-position: 20% 50%;
	}
}
@keyframes gradientBG {
	0% {
		background-position: 20% 80%;
	}
	50% {
		background-position: 50% 80%;
	}
	100% {
		background-position: 20% 80%;
	}
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signin{
    background-color: #fff;
    width: 500px;
    height: 600px;
    box-shadow: 0px 0px 10px #000;
}

.signin form{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(100% - 250.917px);
    padding: 20px;
}


.signin .head{
    margin-top: 80px;
    padding-top:20px ;
}

.signin .head h1{
    font-size: 45px;
    margin: 0;
}

.head h2{
    font-size: 30px;
    margin-bottom: 0;
}

.signin .head h1, h2{
    color: #000;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.signin form input[type="email"], input[type="password"]{
    height: 40px;
    width: 350px;
    border: 0;
    background-color: #E6E6E6;
}

.signin form input[type="email"]{
    margin-bottom: 5px;
}

.signin form input[type="checkbox"]{
    margin-top: 0;
    vertical-align: center;
}

.signin .labels{
    margin: 20px 0px 20px 0px;
    font-family: Helvetica, Arial, sans-serif;
    color: #000;
}

.labels label:first-child{
    margin-right: 95px;
}

.signin form input[type="submit"]{
    border: 0;
    height: 50px;
    width: 100px;
    margin: 0px 0px 20px 250px;
    color: #fff;
    font-size: 18px;
    background-color: #0dba86;
}

.signin form a{
    margin-top: 50px;
    color: #000;
}
